<header class="game-header">
    <div class="header-container">
        <div class="logo-container">
            <a routerLink="/" class="logo">
                <span class="logo-icon">♞</span>
                <span class="logo-text">Jeu Fà</span>
            </a>
            <div class="game-status" *ngIf="gamePhase">
                {{ getGameStatus() }}
            </div>
        </div>

        <nav class="desktop-nav">
            <!-- Version corrigée avec ng-template correctement structuré -->
            <ng-container *ngIf="isAuthenticated(); else notConnected">
                <ul>
                    <li *ngFor="let link of authLinks">
                        <a *ngIf="link.path" [routerLink]="link.path" routerLinkActive="active">
                            <i [class]="link.icon"></i>
                            {{ link.label }}
                        </a>
                        <a *ngIf="link.action" (click)="handleAction(link.action)" class="logout">
                            <i [class]="link.icon"></i>
                            {{ link.label }}
                        </a>
                    </li>
                </ul>
            </ng-container>

            <ng-template #notConnected>
                <ul>
                    <li *ngFor="let link of navigationLinks">
                        <a [routerLink]="link.path" routerLinkActive="active">
                            <i [class]="link.icon"></i>
                            {{ link.label }}
                        </a>
                    </li>
                </ul>
            </ng-template>
        </nav>

        <div class="mobile-nav">
            <button class="menu-toggle" (click)="toggleMenu()">
                <i class="bi" [class.bi-list]="!isMenuOpen" [class.bi-x]="isMenuOpen"></i>
            </button>

            <div class="mobile-menu" [class.open]="isMenuOpen">
                <!-- Même structure pour le menu mobile -->
                <ng-container *ngIf="isAuthenticated(); else mobileNotConnected">
                    <ul>
                        <li *ngFor="let link of authLinks">
                            <a *ngIf="link.path" [routerLink]="link.path" routerLinkActive="active"
                                (click)="toggleMenu()">
                                <i [class]="link.icon"></i>
                                {{ link.label }}
                            </a>
                            <a *ngIf="link.action" (click)="handleAction(link.action); toggleMenu()" class="logout">
                                <i [class]="link.icon"></i>
                                {{ link.label }}
                            </a>
                        </li>
                    </ul>
                </ng-container>

                <ng-template #mobileNotConnected>
                    <ul>
                        <li *ngFor="let link of navigationLinks">
                            <a [routerLink]="link.path" routerLinkActive="active" (click)="toggleMenu()">
                                <i [class]="link.icon"></i>
                                {{ link.label }}
                            </a>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>
    </div>
</header>